/* 表示内容をセンタリングするクラス */
.center{
    text-align: center;
}

/* ボタンの挙動を設定するクラス */
.btn-container {
    text-align: center;
  }
  
  button {
    width: 25%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
  
    /* ボタンにカーソルを当てると、カーソルがポインターに変わる */
    cursor: pointer;
  }
  
  /* ボタンにカーソルを当てたとき、ボタンを半透明にする */
  button:hover {
   opacity: 0.7;
  }
  
  /* クリックで表示させるテキストを隠す */
  .hidden {
    display: none;
  }

#wrapForm {
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
#wrapForm {
    background-color: #f0f8ff;
}
#Table {
    background-color: #ffffcc;
}
#Table th {
    color: #000000 !important;
}
#Table th,
#Table td {
    font-size: 15px !important;
    border: 1px solid gray;
    background-color: #ffffcc;
}
#tableTempe {
    width: 20%;
}
#tableHumid {
  width: 20%;
}
#sampleForm * {
    margin: 0 0 7px 0;
    vertical-align: text-top;
}

hr {
    height: 0.5px;
    width: 50%;
}